@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@200;300;400;500;600;700&family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: url(../img/H2-min_50.png);
    height: 15rem;
    width: 100%;
}

nav {
    position: sticky !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    background-color: darkred;
    z-index: 3;
    padding: 1rem;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #000;
}

main {
    max-width: 90%;
    background-color: rgba(126, 121, 121, 0.5);
    margin: 0 auto;
    padding: .5rem;
    border: 2px black solid;
    box-shadow: 1px 2px 1px darkblue;
}

footer {
    text-align: center;
    padding: .5rem;
    background-color: khaki;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #000;
    transition: .5s;
}

footer a:hover {
    font-size: 1.25rem;
    transition: .5s;
}